
.setup.temp.files/discord_tmpdir/usr/share/pixmaps/discord.png
.setup.temp.files/discord_tmpdir/usr/share/lintian/overrides/discord
.setup.temp.files/discord_tmpdir/usr/share/doc/discord/copyright
.setup.temp.files/discord_tmpdir/usr/share/discord/v8_context_snapshot.bin
.setup.temp.files/discord_tmpdir/usr/share/discord/swiftshader/libGLESv2.so
.setup.temp.files/discord_tmpdir/usr/share/discord/swiftshader/libEGL.so
.setup.temp.files/discord_tmpdir/usr/share/discord/snapshot_blob.bin
.setup.temp.files/discord_tmpdir/usr/share/discord/resources/build_info.json
.setup.temp.files/discord_tmpdir/usr/share/discord/resources/bootstrap/manifest.json
.setup.temp.files/discord_tmpdir/usr/share/discord/resources/app.asar
.setup.temp.files/discord_tmpdir/usr/share/discord/resources.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/postinst.sh
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/zh-TW.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/zh-CN.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/vi.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/uk.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/tr.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/th.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/te.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/ta.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/sw.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/sv.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/sr.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/sl.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/sk.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/ru.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/ro.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/pt-PT.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/pt-BR.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/pl.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/nl.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/nb.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/ms.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/mr.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/ml.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/lv.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/lt.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/ko.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/kn.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/ja.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/it.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/id.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/hu.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/hr.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/hi.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/he.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/gu.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/fr.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/fil.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/fi.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/fa.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/et.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/es.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/es-419.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/en-US.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/en-GB.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/el.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/de.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/da.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/cs.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/ca.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/bn.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/bg.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/ar.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/locales/am.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/libvk_swiftshader.so
.setup.temp.files/discord_tmpdir/usr/share/discord/libGLESv2.so
.setup.temp.files/discord_tmpdir/usr/share/discord/libffmpeg.so
.setup.temp.files/discord_tmpdir/usr/share/discord/libEGL.so
.setup.temp.files/discord_tmpdir/usr/share/discord/icudtl.dat
.setup.temp.files/discord_tmpdir/usr/share/discord/discord.png
.setup.temp.files/discord_tmpdir/usr/share/discord/discord.desktop
.setup.temp.files/discord_tmpdir/usr/share/discord/Discord
.setup.temp.files/discord_tmpdir/usr/share/discord/chrome_200_percent.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/chrome_100_percent.pak
.setup.temp.files/discord_tmpdir/usr/share/discord/chrome-sandbox
.setup.temp.files/discord_tmpdir/usr/share/applications/discord.desktop
.setup.temp.files/discord_tmpdir/usr/bin/discord
.setup.temp.files/discord_tmpdir/DEBIAN/postinst
.setup.temp.files/discord_tmpdir/DEBIAN/control
